body{
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
}

section{
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}


section p{
  font-size: 20px;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav{
  background-color: black;
  color: white;
  padding: 10px 0;
}

h3{
  font-weight: 700;
}

h5 {
  display: inline-block;
  position: relative;
  text-align: center;
}

h5::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px; 
  width: 50px; 
  height: 1px; 
  background-color: #ff8a65; 
  transform: translateX(-50%); 
}
nav li{
  display: inline;
  list-style: none;
  line-height: 42px;
  margin: 30px;
  font-weight: 600;
}

nav a{
  text-decoration: none;
  color: white;
  transition: all 100ms ease-in-out;
}

nav ul{
  margin: 0;
  padding: 0;
}

footer .social-links a{
  text-decoration:none;
  margin: 0 20px;
  color: #eee;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

footer .social-links a:hover {
  color: white; 
  opacity: 1;   
}

footer .portfolio-links a{
  margin: 20px;
  color: white;
  background-color: #6D6D6D;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .portfolio-links a:hover{
  color: white;
  background-color: #272044;
}

footer{
  padding: 2px; 
  background-color: #111111;
  margin-top: 80px;
}

.social-links {
  position: relative;
}

.social-links::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 80%; 
  height: 1px; 
  background-color: rgba(128, 128, 128, 0.2); 
  margin-left: 10%; 
}


footer p{
  font-size: 14px;
  color: grey;
}

footer a{
  text-decoration: none;
}

.content-container{
  max-width: 1000px;
  margin: 0 auto;
}

.hero{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  text-align: center;
  color: white;
}

.blog-images img{
  border-radius: 5px;
}


.blog-content{
  background-color: #f8f8ff;
  color: #eeeeee;
}

.content{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
}


.content h1{
  font-weight: 600;
  font-size: 65px;
  line-height: 1;
}

.content h2{
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
}

.content a{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
}

.read-more {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  border-radius: 10px;
  text-decoration: none;
  color: #272044;
  padding: 16px 32px;
  border: 1px solid black;
  margin-top: 32px;
  display: inline-block;
  border-radius: 30px;
}

.blog-btn{
  display: inline-block;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  padding: 4px 9px;
  font-size: 12px;
  color: white;
  background-color: #272044; 
}
.read-more:hover {
 background-color: #272044;
 color: white;
}

.hero-blog{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/blog-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 260px 0;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1; 
}

.video-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
} 

.video-background{
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.grid{
  display: grid; 
}

.grid-2-columns{
  grid-template-columns: 1fr 1fr;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.grid-blog-img img{
  width: 100%; 
  height: 150px; 
  object-fit: cover;
  border-radius: 0;
}

/* .grid-2-img img{
  grid-column: span 2;
} */

.grid-section img{
  object-fit: cover;
  width: 90%;
  height: 70%;
}

.nav-container{
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.nav-container a:hover, .active a{
  color: #ff8a65;
}

.nav-container a:hover{
  text-decoration: underline;
}

.blog-posts{
  border-bottom: 3px solid #eeeeee;
  border-image: linear-gradient(to right, orange 3%, #eeeeee 3%) 1;
}

.content-container p{
  font-size: 12px;
  line-height: 2;
}


.logo{
  background-color: white;
  border-radius: 5px;
  max-width: 30px;
}

.content-container{
  padding: 60px 20px;
  background-color: white;
  color: black;
  
}

@media(max-width:900px){
  
  header h1 {
    font-size: 40px;
  }

  header h2 {
    font-size: 16px;
  }

  header a {
    font-size: 12px;
  }

  nav li{
    margin: 5px;

  }
  
  nav a{
    font-size: 12px;
    margin: 10px;
  }

  p{
    font-size: 16px;
    margin: 10px 0 0 0;
  }

  nav li a{
    text-align: center;
  }

  .logo-spacing{
   display: none !important;
  }

  .grid-section{
    grid-template-columns: 1fr;
    grid-gap: 32px;
    margin-top: 60px;
  }

  .content-container{
    margin-top: 60px;
  }

  .content-container p{
    font-size: 8px;
    line-height: 1.5;
  }

  .content-container p{
    font-size: 14px;
  }

  footer p{
    font-size: 8px;
  }

  footer h4{
    font-size: 12px;
  }

  .grid-section img{
    height: auto;
  }

  footer .portfolio-links a{
    text-align: center;
    margin: 10px;
  }

  footer .portfolio-links a{
    margin: 10px;
    padding: 5px 7px;
    font-size: 14px;
  }
}

