body{
  box-sizing: border-box;
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header,
footer {
  width: 100%;
  max-width: 100%;
}


h3{
  font-weight: 700;
}

h5 {
  display: inline-block;
  position: relative;
  text-align: center;
}

h5::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px; 
  width: 50px; 
  height: 1px; 
  background-color: #ff8a65; 
  transform: translateX(-50%); 
}


nav{
  margin-right: 120px;
  text-transform: uppercase;
}

header{
  z-index: 1000;
  position: absolute;
  width: 100%;
  background-color: black;
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul{
  position: relative;
  margin: 0;
  padding: 0;
}

header ul li{
  position: relative;
  list-style: none;
  float: left;
  color: white;
}

header ul li a{
  font-weight: 600;
  color: rgba(128, 128, 128, 0.8);
  font-size: 16px;
  padding: 20px 35px;
  text-decoration: none !important;
  display: flex;
  justify-content: space-between;
}

header ul li a:hover{
  color: #ff8a65 !important;
}

header ul li ul{
  position: absolute;
  left: 0;
  width: 200px;
  background-color: black;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 999;
  pointer-events: none;
  
}

header ul ul a{
  font-size: 14px;
  font-weight: 500;
  padding: 8px 12px;

}

header ul li:hover > ul{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

header ul li ul li{
  position: relative;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.2);
}

header ul li ul li ul{
  top:0;
  left: 200px;
}

footer .social-links a{
  text-decoration:none;
  margin: 0 20px;
  color: #eee;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

footer .social-links a:hover {
  color: white; 
  opacity: 1;   
}

footer .portfolio-links a{
  margin: 20px;
  color: white;
  background-color: #6D6D6D;
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .portfolio-links a:hover{
  color: white;
  background-color: #272044;
}

footer{
  padding: 2px; 
  background-color: #111111;
  margin-top: 80px;
}

footer p{
  font-size: 14px;
  color: grey;
}

footer a{
  text-decoration: none;
}

.logo-spacing{
  margin-left: 0;  
  margin-right: 0; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

.logo-text {
  display: flex; 
  align-items: center; 
  gap: 10px; 
  margin-top: 5px;
}

.logo {
  background-color: white;
  border-radius: 5px;
  max-width: 30px;
}

.logo-spacing p {
  font-size: 24px;
  margin: 0;
  color: white;
}

.down-arrow {
  display: inline-block;
  font-size: 9px;
  margin-left: 6px;
  font-weight: 800;
  margin-top: 9px;
}

.social-links {
  position: relative;
}

.social-links::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 80%; 
  height: 1px; 
  background-color: rgba(128, 128, 128, 0.2); 
  margin-left: 10%; 
}

.index-container{
  padding: 60px 20px !important;
  max-width: 1400px !important;
}

.index-content p{
  font-size: 20px;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

.hero{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  text-align: center;
  color: white;
  overflow: hidden;
}

.my-image{
  width: 560px;
  height: 560px;
  object-fit: cover;
  margin-top: 20px;
  opacity: 0px;
}

.blog-images img{
  border-radius: 5px;
  height: 300px; 
  width: 600px;
  object-fit: cover;

}


.blog-content{
  background-color: #f8f8ff;
  color: #eeeeee;
}


.content{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
}

.contact-container{
  max-width: 800px;
  text-align: center;
}

.hero-slider .content.contact-content h1{
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 1.2em;
}

.hero-slider .content.contact-content h2{
  font-size: 16px;
  line-height: 1.4;
}

.contact-container h3{
  color: #FF8A65;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-size: 21px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.contact-container h4{
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  text-align: center;
  margin: 20px 0;
  position: relative;
}

.contact-container  p{
  font-family: "Lato", sans-serif;
  text-align: center;
  margin: 17px 0;
  font-size: 20px;
  color: #666666;
}

.contact-container h4::before,
.contact-container h4::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 150px;
  height: 2px;
  transform: translateY(-50%);
}

.contact-container h4::before {
  left: 140px;
  background: linear-gradient(to right, #ffffff00 0%, #dedede 100%);
}

.contact-container h4::after {
  right: 140px;
  background: linear-gradient(to right, #dedede, #ffffff00 100%);
}


.hero-slider .content{
  text-align: center;
  margin-top: -50px;
}

.hero-slider .content h1, .hero-slider .content h2 {
  color: #f2f2f2;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.hero-slider .content h1{
  font-size: 40px;
  margin: 0 0 15px;
  line-height: 1.2em;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.hero-slider .content h2{
  font-size: 16px;
  margin: 0 0 25px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.city-container{
  padding: 10px;
  background-color: #F8F8FF;
  color: #000;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  align-content: flex-start;
}

.city-container p{
  color: #313131;
}

.city-container h3{
  font-size: 21px;
  color: #ff8a65;
  margin: 0 0 10px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.city-container h4{
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  color: #111;
  margin: 20px 0 30px 5px;
  position: relative;
  display: inline-block; 
  padding-right: 1rem; 
}

.city-container h4::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%; 
  margin:-1px 0 0;
  width: 300px; 
  height: 1.8px;
  background: linear-gradient(to right, #DEDEDE, #FFFFFF00 60%);
  transform: translateY(-50%);
}

.city-quick-facts{
  background-color:  #F8F8FF !important; 
}

.city-data{
  display: flex;
  margin-bottom: 10px;
}

.city-detail{
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  display: block;
  font-size: 16px !important;
}

.city-quick-facts p{
  font-size: 13px;
  line-height: 2;
}

.city-quick-facts a{
  color: #ff8a65;
  text-decoration: none;
}

.city-insights{
  text-align: justify;
}

.city-insights a{
  color: #ff8a65;
  text-decoration: none;
}

.card-body{
  font-size: 17px;
  background-color: #F8F8FF !important;
}

.social-info{
  display: flex;
  font-weight: bold;
  margin: 0 40px 20px 0;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: left;
}

.blog-post-img img{
  display: block !important;
  margin: 0 auto !important;
}

.card-text img{
  padding: 5px;
  object-fit: cover;
}

.social-info a{
  text-decoration: none;
}


.card-info{
  font-size: 14px;
  text-transform: uppercase;
  margin: 10px 10px 8px;
  font-weight: 700;
  border-bottom: 3px solid #eeeeee;
  font-family: "Open Sans", sans-serif;
  border-image: linear-gradient(to right, orange 15%, #eeeeee 3%) 1;
}

.about-me-container{
  padding: 60px 20px; 
}

.card{
  background-color: #F8F8FF !important;
  margin-top: -50px;

}

.card img{
  border-radius: 50%;
  width: 300px;
  margin: 0 0 0 20px;
  display: block;
  height: 300px;
  box-shadow: #000;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.my-info a{
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease;
}

.my-info a:hover{
  color: #ff8a65;
  text-decoration: underline;
}

.content h1{
  font-weight: 600;
  font-size: 65px;
  line-height: 1;
}

.content h2{
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
}

.content a{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
}

.read-more {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  border-radius: 10px;
  text-decoration: none;
  color: #272044;
  padding: 16px 32px;
  border: 1px solid black;
  margin-top: 32px;
  display: inline-block;
  border-radius: 30px;
}

.discover-more:hover{
  background-color: grey;
  color: white;
}

.blog-btn{
  display: inline-block;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  padding: 4px 9px;
  font-size: 12px;
  color: white;
  background-color: #272044; 
  transition: all 0.3s ease;

}

.blog-btn:hover{
  background-color: #322a55;
}


.read-more:hover {
 background-color: #272044;
 color: white;
}

.hero-blog{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url("../images/blog-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 260px 0;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1; 
}

.video-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
} 

.video-background{
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

.grid{
  display: grid; 
}

.grid-2-columns{
  grid-template-columns: 1fr 1fr;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.grid-2-columns img{
  width: 100%; 
  height: 150px; 
  object-fit: cover;
  border-radius: 0;
}

.grid-3-images{
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.grid-3-images img {
  width: 100%;
  object-fit: cover;
  border-radius: 0;
}

.grid-3-images img:first-child {
  grid-row: 1 / span 2; 
  grid-column: 1; 
  height: 300px;
}

.grid-3-images img:nth-child(2) {
  height: 150px;      
}

.grid-3-images img:nth-child(3) {
  height: 150px;
}

.grid-2-images img{
  height: 300px;
}

/* .grid-2-img img{
  grid-column: span 2;
} */
/* 
.grid-section img{
  height: auto;
  width: 100%;
  display: inline-block;
 
} */



.blog-posts{
  border-bottom: 3px solid #eeeeee;
  border-image: linear-gradient(to right, orange 3%, #eeeeee 3%) 1;
}

.content-container p{
  font-size: 12px;
  line-height: 2;
}


.content-container{
  padding: 60px 20px;
  background-color: white;
  color: black; 
  max-width: 1200px;
  margin: 0 auto;
}

.web-message{
  background: #000;
  color: #f8f8ff;
  text-align: center;
  padding-top: 100px;
  margin: 200px auto;
}

.web-message p{
  font-size: 20px;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.web-message h1{
  font-family: "Poppins", serif;
}

#countdown {
  font-size: 2rem;
  margin-top: 20px;
}

.hero-slider {
  position: relative;
  width: 100%;
  max-height: 85vh;
  overflow: hidden;
  padding: 0 0 60px 0;
  font-family: 'Poppins', sans-serif;
}

.hero-slider .slides img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(1.1);
  transition: opacity 1.2s ease, transform 1.2s ease;
  z-index: 0;
}

.hero-slider .slides img.active {
  opacity: 1;
  transform: scale(1);
  display: block;
  position: relative;
  z-index: 1;
}

.hero-slider .prev,
.hero-slider .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  color: #333;
  font-size: 1rem;
  padding: 8px 14px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 3;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.hero-slider:hover .prev,
.hero-slider:hover .next {
  opacity: 1;
  pointer-events: auto;
}

.hero-slider .prev:hover,
.hero-slider .next:hover {
  background: #fff;
  transform: translateY(-50%) scale(1.1);
}

.hero-slider .prev {
  left: 20px;
}

.hero-slider .next {
  right: 20px;
}

.hero-slider::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 200px;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent);
  z-index: 2;
  pointer-events: none;
}

.gradient-overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
  pointer-events: none;
  z-index: 1;
}

.slides img {
  position: relative;
  z-index: 0;
}

.wave-divider {
  aspect-ratio: 960/300;
  background: no-repeat center;
  background-size: cover;
  height: 100px;
  z-index: 3;
  position: relative;
  line-height: 0;
  margin-top: -100px; 
  
}

.berlin-wave{
  background-image: url("../images/stacked-waves-haikei3.svg");
  width: 100%;
}

.customized-data-icon{
  color: #ff8a65 !important;
  background-color: #DEE2EA;
  padding: 10px !important;
  border-radius: 50% !important;
  margin: 0 20px 0 0;
  transition: all 150ms ease-in-out;
  display: flex !important;
  font-size: 16px;
  align-items: center;
  justify-content: center !important;
  width: 40px;
  height: 40px;
}

.city-data:hover .customized-data-icon{
  background-color: #ff8a65;
  opacity: 1;   
  color: white !important;
}

.social-info:hover .customized-data-icon{
  background-color: #ff8a65;
  opacity: 1;   
  color: white !important;
}

form {
  max-width: 650px;
  width: 100%;
  margin: 3rem auto;
  margin-bottom: 20px;
  padding: 2rem;
  background: #fff;
  box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);  
  border-radius: 8px;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #939393;
  font-size: 12px;
  text-transform: none;
  text-align: center;
}

input,
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

button[type="submit"] {
  padding: 0.75rem 1.5rem;
  background-color: #f5f5f5;
  color: #313131;
  border: none;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  width: auto;
  min-width: 120px;
  margin: 0 auto;
  display: block;
  text-transform: uppercase;
  transition: background 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #ff8a65;
  color: #fff;
}

#form-status {
  margin-top: 1rem;
  font-style: italic;
  color: green;
}

.contact-container .form-info{
  text-align: center;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-style: italic;
  color: #939393;
  margin-top: 0;
}

.contact-container a, .form-info a{
  text-decoration: none;
  color: #ff8a65;
}

.message-info {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 50px;
  background-color: #f9f9f9;
}

.thank-you-message {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.thank-you-message h1 {
  font-size: 2rem;
  color: #333;
}

.thank-you-message p {
  margin-top: 1rem;
  font-size: 15px;
}

.thank-you-message a {
  font-weight: bold;
  text-decoration: none;
  color: #272044;
  font-size: 12px;
} 

.thank-you-message a:hover{
  color: #ff8a65;
}

.recaptcha-wrapper {
  text-align: center;      
  margin: 20px 0;         
}

.netlify-recaptcha {
  display: inline-block;   
  transform: scale(0.50);  
  transform-origin: 0 2;   
}



@media(max-width:1024px){
  
  .sub-menu-toggle {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background: #f0f0f0;
  }
  
  .sub-menu-toggle.open {
    max-height: 500px; 
  }

  nav ul, .sub-menu-toggle {
    max-height: auto;
    overflow-y: auto;
  }

  b{
    font-size: 20px;
  }
  
  header h1 {
    font-size: 40px;
  }

  header h2 {
    font-size: 16px;
  }

  header a {
    font-size: 12px;
  }

  p{
    font-size: 16px;
    margin: 10px 0 0 0;
  }

  header{
    padding: 10px 0px;
  }

  header nav{
    position: absolute;
    width: 100%;
    top: 82px;
    background-color: #F9F7FE;
    display: none;
    max-height: 100vh;
  }

  header.active nav{
    display: initial;
  }

  .logo-spacing p {
    font-size: 20px;
  }

  .logo-spacing{
    margin-left: 10px;
  }

  .logo {
    max-width: 25px;
  }

  header ul li a{
    color: black;
  }

  header nav ul li{
    width: 100%;
  }

  header ul li ul{
    background-color: grey; 
    max-height: 300px;
    overflow-y: auto;
  }

  header nav ul li ul{
    position: relative;
    width: 100%;
    left: 0;
  }

  header ul li ul li ul{
    top: 0;
    left: 0;
  }

  header nav ul li:hover ul li{
    background-color: #D3CCE3;
  }

  header ul li ul li{
    max-height:300px; 
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
  }


  .menu-toggle{
    position: relative;
    width: 40px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
  }

  .menu-toggle::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform: translateY(-12px);
    box-shadow: 0 12px #fff;

  }

  .menu-toggle::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform: translateY(12px);
  }

  header.active .menu-toggle::before{
    transform: rotate(45deg);
    box-shadow: 0 0 #fff;
  }

  header.active .menu-toggle::after{
    transform: rotate(315deg);
  }

  .content-container{
    margin-top: 60px;
  }

  .content-container p{
    line-height: 1.5;
    font-size: 14px;
  }

  footer p{
    font-size: 8px;
  }

  footer h4{
    font-size: 12px;
  }

  footer .portfolio-links a{
    text-align: center;
    margin: 10px;
    padding: 5px 7px;
    font-size: 14px;
  }
  
  .web-message{
    padding-top: 150px;
    margin: 180px auto;
  }

  .web-message p{
    font-size: 12px;
  }

  .city-container{
    display: block;
    margin: 0 auto;
  }

  .contact-container{
    display: block;
    margin: 0 auto;
    text-align: center;

  }

  .card{
    margin-top: 20px;
    margin-left: 10px;
  }

  .contact-container h4{
   font-size: 15px;
  }
  .contact-container h3{
   font-size: 20px;
  }
  
  .contact-container  p{   
    margin: 12px 10px;
    font-size: 15px;
  }
  
  .contact-container h4::before,
  .contact-container h4::after {  
    width: 60px;
    height: 2px;
  }
  
  .contact-container h4::before {
    left: 60px;
  }
  
  .contact-container h4::after {
    right: 60px;
  }

  form {
    max-width: 350px;
    margin: 20px auto;
  }

  .contact-container .form-info{
    font-size: 10px;
    margin-top: 10px;
  }

  .city-quick-facts p{
    line-height: 1.5;
  }

  .grid-2-columns.city-quick-facts{
    gap: 30px;
  }
}

@media(max-width:800px){
  
  .city-container{
    margin-top: 100px;
  }

  .contact-container{
    margin-top: 100px;
  }
  
  .card{
    margin-top: 20px;
  }
  
}
